<!DOCTYPE html>
<html>
<head>
    <title>FitQuest</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>FitQuest</h1>
    
        <a href="/Home/Register" class="btn">Register</a>
        <a href="/Home/Login" class="btn">Login</a>
    </div>
</body>
</html>
