<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">      
        <input type="checkbox" id="chk" aria-hidden="true">

        <!-- Display error message if login failed -->
        @if (ViewBag.Error != null)
        {
            <div class="error-message">
                <p>@ViewBag.Error</p>
            </div>
        }

        <div class="signup">
            <form method="post" action="/Account/Register">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="username" placeholder="Username" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <input type="password" name="confirmPassword" placeholder="Confirm password" required="">
                <button type="submit">Sign up</button>
            </form>
        </div>

        <div class="login">
            <form method="post" action="/Account/Login">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="text" name="usernameOrEmail" placeholder="Username or email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <button type="submit">Login</button>
                <a href="/PasswordReset/RequestPasswordReset" class="reset-password-link">Reset Password</a>
            </form>
        </div>
    </div>
</body>
</html>