


<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
 <h1>Welcome to FitQuest</h1>
    <p>This is where your fitness journey begins</p>

    </div>
    
     <div class="username-display" style="text-align:center;">  <!-- Raso prisijungusio user username -->
            @if (ViewBag.Username != null)
            {
                <p>Hello, @ViewBag.Username!</p>
            }
            else
            {
                <p>Hello, Guest!</p>
            }
        </div>
   
</body>
</html>
