@model FitQuest.Models.DietPlanViewModel

@{
    ViewData["Title"] = "Nutrition Plan";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/nutrition.css" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.6.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
     <nav>
            <a href="/home/index"> <img src="~/images/words_logo.png"> </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/home/Index">HOME</a></li>
                    <li><a href="/home/Fitness">FITNESS</a></li>
                    <li><a href="/home/Nutrition">NUTRITION</a></li>
                    <li><a href="/home/Recipes">RECIPES</a></li>

                    @{
                        var username = Context.Session.GetString("Username");
                        if (!string.IsNullOrEmpty(username))
                        {
                            <!-- Display the user's name if they are logged in -->
                            <li><a href="/Home/Profile" class="user-button">@username.ToUpper()</a></li>
                            <li><a href="/home/Logout">LOGOUT</a></li>
                        }
                        else
                        {
                            <!-- Show "Sign In / Sign Up" if the user is not logged in -->
                            <li><a href="/home/Login" class="user-button">SIGN IN / SIGN UP</a></li>
                        }
                    }
                    
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

    <div class="container">
        <!-- Check if the user is logged in -->
        @if (string.IsNullOrEmpty(Context.Session.GetString("Username")))
        {
            <!-- Show an error message if the user is not logged in -->
            <div class="error-message">
                You are not logged in. Please log in to generate a nutrition plan.
                <br />
                <!-- Redirect button to login page -->
                <a href="/Home/Login" class="button">Go to Login</a>
            </div>
        }
        else
        {
            <!-- If logged in, allow generating the nutrition plan -->
            <h2>Click below to generate your personalized diet plan</h2>

            <!-- Button to trigger nutrition plan generation -->
            <form method="post" action="/Home/GenerateNutritionPlan">
                <button type="submit" class="button">Generate Nutrition Plan</button>
            </form>


            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">
                    @ViewBag.ErrorMessage
                    <!-- Button to redirect to profile page if there is an error -->
                    <br />
                    <a href="/Home/Profile" class="button">Go to Profile</a>
                </div>
            }

            <!-- Display the generated nutrition plan if available -->
            @if (Model != null && !string.IsNullOrEmpty(Model.DietPlan))
            {
                <div id="dietPlanResult">
                    <h3>Your Nutrition Plan</h3>
                    @Html.Raw(Model.DietPlan)
                </div>
            }

            <!-- If no diet plan generated, prompt user to update profile -->
            @if (Model == null || string.IsNullOrEmpty(Model.DietPlan))
            {
                <p>Please update your profile information to generate a nutrition plan.</p>
            }
        }
    </div>
    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>

</body>
</html>
