<!DOCTYPE html>

<html>
        <title>Nutrition</title>
         @{
                        var username = Context.Session.GetString("Username");
                        }
        <h1> Hi, @username</h1>




</html>