<!DOCTYPE html>
@model FitQuest.Models.PasswordResetRequest
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/resetrequest.css">
    <title>Request Password Reset</title>
</head>
<body>
    @{
        ViewData["Title"] = "Request Password Reset";
    }

    

    
           <form method="post" action="/PasswordReset/RequestPasswordReset">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <h3>Enter your email</h3>
        <h4>Follow the instructions in the email</h4>
        
        <input type="email" name="Email" class="form-control" required>
        <span validation-for="Email" class="text-danger"></span>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </div>
</form>

        
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}